body {
    background-color: rgb(86, 182, 214);
  }/*dit is voor de achtergrond kleur*/
  
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0d0909;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(9, 9, 9);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  
  li a:hover {
    background-color: #0df10d;
  }  /*Dit is voor het hele menu dat op me site staat.*/

  .navbar {
    overflow: hidden;
    background-color: black; /*achtergrond van navigation bar*/
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;  /* waar staat de rest in de navigation bar*/
  }
  
  .dropdown {
    float: left;
    overflow: hidden; /* waar staat dropdown in de navigation bar*/
  }
  
  .dropdown .dropbtn {
    font-size: 14px;  
    border: none;
    outline: none;
    color: white;
    background-color: inherit; /*zorgt voor dezelfde achtergrondkleur als de rest van de navbar*/
    font-family: inherit; /*zorgt voor dezelfde letterype als de rest van de nav bar*/
    padding: 16px 16px;
    margin: 0; /*opmaak van dropdown*/
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #5c5b5b; /*welke kleur dorpdown wordt als je met cursor erover heen gaat*/
  }
  
  .dropdown-content { /* hoe het menu van de dropdown eruit ziet*/
    display: none;
    position: absolute;
    background-color: black; 
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /*schaduw*/
  }
  
  .dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left; /* meer opmaak van het dropdown menu*/
  }
  
  .dropdown-content a:hover {
    background-color: #5c5b5b; /*kleur achtergrond dropdown menu*/
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  li {
    border-right: 1px solid #0a0909;
  }
  
  li:last-child {
    border-right: none;
  } /*Dit is om tussen de blocken in het menu, een grens te laten zien*/

  ul {
    position: -webkit-sticky; 
    position: sticky;
    top: 0;
  } /*Dit is om het meer sticky te maken, dus als je naar beneden srollt komt het menu zelf in de goede plaats
  terecht op je scherm. */

  
  #body2 {
    background-color: rgb(224, 75, 12);
  }/*dit is voor de achtergrond kleur*/
  /*Deze code is er om een connectie met de pagina 
  die ik body2 (overmij) heb genoemd en nu kan ik via hier 
  de achtergrond kleur veranderen.*/

h1 {
  text-align: center; /*dit is om de tekst naar het midden te zetten*/
}
