body {
    background-color: rgb(86, 182, 214);
  }/*dit is voor de achtergrond kleur*/

  .menu {
    overflow: hidden;
    background-color: rgb(15, 247, 131); /*Dit is voor de achtergrond kleur van de navigation bar (menu en dropdown)*/
  }
  
  .menu a {
    float: left;
    font-size: 16px;
    color: rgb(240, 117, 16);
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;  /*Deze code is voor de tekst die je in de menu ziet (exclusief de Dropdown)*/
  }
  
  .Dropdown {
    float: left;
    overflow: hidden; /*Deze code zorgt ervoor dat de lijst tevoorschijn komt onder de Dropdown en niet ergens anders*/
  }
  
  .Dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white; 
    background-color : inherit;
    font-family: inherit;
    padding: 16px 16px;
    margin: 0;
  } /*Deze code is er voor de opmaak van de Dropdown die je ziet in het menu. (exclusief de Dropdown content)*/
  
  .menu a:hover, .Dropdown:hover .dropbtn {
    background-color: #e91212; /*Deze code zorgt ervoor dat als je over het menu of de dropdown
     gaat het een kleurtje krijgt*/
  }
  
  .dropdown-content { 
    display: none;
    position: absolute;
    background-color: rgb(135, 17, 87); 
    min-width: 160px;  /*Deze code is voor de opmaak van de lijst die je ziet als je op de dropdown bent.*/
  }
  
  .dropdown-content a {
    float: none;
    color: rgb(214, 2, 2);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left; /* Deze code is voor de woorden die je in de lijst ziet als je op de dropdown bent*/
  }
  
  .dropdown-content a:hover {
    background-color: #5c5b5b; /*Deze code is voor de kleur die je ziet in
     de lijst van de dropdown als je erover heen gaat*/
  }
  
  .Dropdown:hover .dropdown-content {
    display: block;
  } /*Deze code zorgt ervoor dat je een lijst krijgt te zien als je op de dropdown bent*/

  #body2 {
    background-color: rgb(224, 75, 12);
  }/*dit is voor de achtergrond kleur*/
  /*Deze code is er om een connectie met de pagina 
  die ik body2 (overmij) heb genoemd en nu kan ik via hier alleen
  deze achtergrond kleur veranderen.*/

#povermijleven {
  text-align: left; 
  float: left; 
  width: 45%; 
  margin-right: 0%; 
} /*deze code is er voor de plek van de tekst (overmij leven)*/

 #povermijinformatica {
  text-align: left; 
  float: right; 
  width: 45%; 
  margin-left: 0%; 
} /*deze code is er voor de plek van de tekst (overmij informatica)*/                

#hetrgb-model1 {
  text-align: left; 
  float: left; 
  width: 45%; 
  margin-right: 0%; 
} /*deze code is er voor de plek van de tekst (Het RGB-model1)*/


#hetrgb-model2 {
  text-align: left; 
  float: right; 
  width: 45%; 
  margin-left: 0%; 
} /*deze code is er voor de plek van de tekst (Het RGB-model2)*/


#hetcmyk-model {
  text-align: left; 
  float: none; 
  width: 45%; 
  margin-right: 0%; 
} /*deze code is er voor de plek van de tekst (Het cmy(k)-model*/

.clear {
  clear: both;
} /*deze code zorgt ervoor dat me titel (h4 Het cmy(k)-model) goed boven mij tekst staat */

#compressieafbeeldingenenvideo {
  text-align: left; 
  float: left; 
  width: 45%; 
  margin-right: 0%; 
} /*deze code is er voor de plek van de tekst (Compressie afbeeldingen en video)*/

#compressiebijgeluidsfragmenten {
  text-align: left; 
  float: right; 
  width: 45%; 
  margin-left: 0%; 
} /*deze code is er voor de plek van de tekst (Compressie bij geluidrfragmenten)*/

#bitmap-envectorafbeeldingen {
  text-align: left; 
  float: left; 
  width: 45%; 
  margin-right: 0%; 
} /*deze code is er voor de plek van de tekst (Bitmap- en vectorafbeeldingen)*/

#geluidsfragmenten {
  text-align: left; 
  float: right; 
  width: 45%; 
  margin-left: 0%; 
} /*deze code is er voor de plek van de tekst (Geluidsfragmenten)*/

#h4compressiebijgeluidsfragmenten {
  position: relative;
  left: 135px;
  top:  -34px;
} /*deze code zorgt ervoor dat de h4 (h4compressiebijgeluidsfragmenten) gelijk staat met de h4 (h4compressieafbeeldingenenvideo)*/

#compressiebijgeluidsfragmenten {
  position: relative;
  top: -40px;
} /*deze code zorgt ervoor dat de tekst een stukje omhoog gaat (compressie bij geluidsfragmenten).*/

#h4geluidsfragmenten {
  position: relative;
  left: 135px;
  top: -34px;
} /*deze code zorgt ervoor dat de h4 (h4geluidsfragmenten) gelijk staat met de h4 (h4bitmap-envectorafbeeldingen)*/

#geluidsfragmenten {
  position: relative;
  top: -40px;
} /*deze code zorgt ervoor dat de tekst een stukje omhoog gaat (geluidsfragmenten).*/

#h4overmijkeuze {
  position: relative;
  left: 135px;
  top: -34px;
} /*deze code zorgt ervoor dat de h4 (h4overmijkeuze) gelijk staat met de h4 (h4overmijleven)*/

#povermijinformatica {
  position: relative;
  top: -40px;
}  /*deze code zorgt ervoor dat de tekst een stukje omhoog gaat (povermijinformatica).*/

footer {
  background-color: rgb(15, 247, 131); 
  color: white;
  text-align: center;
  padding: 10px 0; 
  width: 100%; 
  clear: both;
  position: relative; 
  bottom: 0;
} /* dit is de code waarmee ik de footer kan veranderen met grootte of kleur etc.*/

#resolutie {
  text-align: left; 
  float: right; 
  width: 45%; 
  margin-left: 0%; 
} /*deze code is er voor de plek van de tekst (resolutie)*/

#h4kleurmodellenres {
  position: relative;
  left: 733px;  
} /*deze code zorgt voor de plek van de h4 (h4kleuremodellenres).*/

figure {
  text-align: left; 
position: relative;
top: -70px;
}

figcaption {
  border: 2px solid black; 
  padding: 10px; 
  margin-top: 5px; 
  display: inline-block; 
  position: relative;
  top: 10px;
}